<main>
    <div class="col-12 row">
        <div class="col-6 row text-start">
            <h4>{{page.name}}</h4>
        </div>
        <div class="col-6 row text-end">
            <p class="btn-dark">{{page.title}}</p>
        </div>
    </div>
    <br>
    <br>
    <h2 class="btn-dark">{{main.title}}</h2>
    <br>
    <p>{{main.text}}</p>
    <br>
    <br>
    <br>

    <div class="card my-3">
        <div class="row g-2">
            {{#each buttons}}
            <a href="{{href}}" type="button" class="btn btn-primary">{{text}}</a>
            {{/each}}
        </div>
    </div>

</main>