<main>
    {{#with header}}
    <h2 class="dark lowercase">{{title}}</h2>
    {{#with button}}
    <a href="{{link}}" type="button" class="btn btn-outline-secondary">{{text}}</a>
    {{/with}}
    {{/with}}
    <br>
    <br>
    <hr>
    <section class="row my-2 py-2">
        {{#each goodsBlock}}
        <div class="row my-2 pb-2 pt-4 border mx-0 px-0">

            <div class="col-7 row">


                <div class="col-4 mx-4 p-4">
                    <img class="ms-3 me-0" src="{{image}}" aly="{{name}}">
                </div>


                <div class="col-7 pt-4">
                    <p class="fs-4 fw-medium">{{name}}</p>
                    <p>{{description}}</p>
                </div>

            </div>
            <div class="col-4 row p-3">

                <div class="col-5 p-4">
                    {{#with price}}
                    <p>{{title}}</p>
                    <p class="fs-5">{{value}}</p>
                    {{/with}}
                </div>


                <div class="col-3 p-5">
                    {{amount}}
                </div>


                <div class="col-4">
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <a class="btn btn-primary px-4 mx-0" href="{{link}}">{{text}}</a>
                    {{/if}}
                    {{#if isSecondary}}
                    <a class="btn btn-outline-warning px-4 mx-0" href="{{link}}">{{text}}</a>
                    {{/if}}
                    {{#if isDanger}}
                    <a class="btn btn-outline-danger px-3 mx-0" href="{{link}}">{{text}}</a>
                    {{/if}}
                    {{#if noCondition}}
                    <a class="btn btn-primary px-4 mx-0" href="{{link}}">{{text}}</a>
                    {{/if}}

                    {{/each}}

                </div>
            </div>
        </div>
        {{/each}}
    </section>

    <hr>

</main>