<main>
    {{#with header}}
    <h1 class="dark text-lowercase">{{title}}</h1>
    {{#with button}}
    <a href="{{link}}" type="button" class="btn btn-outline-secondary">{{text}}</a>
    {{/with}}
    {{/with}}
    <br>
    <br>
    <hr>


    {{#each goodsBlock}}
    <div class="card my-3">
        <div class="card-body p-2 m-0">
            <div class="row g-0">
                <div class="col-2"><img src="{{image}}" alt="{{name}} photo" width="110"></div>
                <div class="col-4 ps-2">
                    <h3>{{name}}</h3>
                    {{description}}
                </div>
                <div class="col-2 ps-4"> <br> {{price.title}}: <br> <b>{{price.value}}</b> </div>
                <div class="col-2 ps-4"> <br><br>{{amount}}</div>
                <div class="col-2">
                    {{#each buttons}}
                    <button class="btn
{{#if isPrimary}} btn-primary {{/if}}
{{#if isDanger}} btn-outline-danger {{/if}}
mx-0 my-2">{{text}}</button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}



    <hr>
    {{#with total}}
    <h3 class="dark text-lowercase">{{title}}</h3>
    <strong class="fs-5 btn-dark">{{amount}}</strong>
    <div>
        <em class="secondary">{{delivery}}</em>
    </div>
    <br>
    <div class="col-4">
        {{#each buttons}}
        {{#if isSuccess}}
        <a href="link" class="btn btn-success disabled" role="button" aria-disabled="true">{{text}}</a>
        {{/if}}
        <br>
        {{#if isOutline}}
        <a href="link" type="button" class="btn btn-outline-success">{{text}}</a>
        {{/if}}
        {{/each}}
    </div>
    {{/with}}
    <br>
    <br>
    <hr>
    {{#with goodsOtherBlock}}
    <h2 class="dark text-center">{{title}}</h2>
    <div class="row">
        {{#each cards}}
        <div class="col-4">
            <div class="card bg-secondary text-light ">
                {{#if image}}
                <img src="{{image}}" class="card-img-top" alt="{{title}}">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">
                        {{title}}
                        {{#if idNew}}
                        <span class="badge bg-success rounded-pill fs-6 fw-bold"> NEW </span>
                        {{/if}}
                        {{#if isNew}}
                        <span class="badge bg-success rounded-pill fs-6 fw-bold"> NEW </span>
                        {{/if}}
                        {{#if isHot}}
                        <span class="badge bg-primary rounded-pill fs-6 fw-bold"> TOP </span>
                        {{/if}}
                    </h5>
                    <p class="card-text">{{description}}</p>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
    <br>
    <hr>
    {{#with subscribe}}
    <div class="row my-3 mx-3">
        <div class="col-12">
            <div class="row">
                <div class="card bg-secondary ">
                    <div class="card-body my-3">
                        <div class="row">
                            <div class="col-9">
                                <div class="text-light">
                                    <h2>{{header}}</h2>
                                    <p>{{description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="row">
                                </div>
                            </div>

                            {{#each buttons}}
                            <div>
                                <a type="button" class="btn btn-primary" href="{{link}}">
                                    {{text}}
                                </a>
                            </div>
                            {{/each}}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    <br>
    <hr>
</main>