<main>
	<div class="row g-1">
		<br>
		<br>
		<div class="col-6">
			<div class="container">

				{{> breadcrumb}}

				{{#with productData}}

				<div class="row ps-1 pe-2">
					<div class="col-12">

						<div class="card">
							<img class="card-img-top" src="{{img}}" alt="Зображення">
						</div>

					</div>
				</div>


				<div class="row ms-1 me-2 mt-4">
					{{#with info}}
					<div class="card pt-3 px-3">
						<div class="card-body p-1">
							<p class="card-title fs-4 fw-bolder">{{title}}</p>
							<p class="card-text">{{about}}</p>
							<em class="text-body-secondary fw-bold fs-3">{{price}}</em>



							<div class="col-5">
								<div class="row border-top pt-2 ps-2 mb-2">

									{{#each category}}
									{{#if isHot}}
									<div class="col-1 me-2">
										<span class="badge rounded-pill bg-warning"> {{name}} </span>
									</div>
									{{/if}}
									{{#if isNew}}
									<div class="col-1 mx-3">
										<span class="badge rounded-pill bg-primary"> {{name}} </span>
									</div>
									{{/if}}
									{{#if isBonus}}
									<div class="col-1 mx-2">
										<span class="badge rounded-pill bg-success"> {{name}} </span>
									</div>
									{{/if}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/with}}
			</div>
		</div>
		{{/with}}

		<div class="col-1">
			<div class="row">

			</div>
		</div>

		<div class="col-5">

			<div class="row">
				<div class="col-12 py-4 ">

				</div>
			</div>

			{{#with productData}}
			<div class="container mt-2">

				{{#with item}}
				<table class="table border table-striped">
					<thead>
						<tr class="border bg-secondary">
							{{#each head}}
							<th scope="col">{{this}}</th>
							{{/each}}
						</tr>
					</thead>
					<tbody>
						{{#each body}}
						<tr>
							<th class="border bg-secondary" scope="row">{{this.[0]}}</th>
							<td>{{this.[1]}}</td>
							<td>{{this.[2]}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				{{/with}}
			</div>



			<div class="container pt-2">

				<div class="card">
					{{#with param}}
					<div class="card-header">
						<p class="fw-bold fs-4">{{title}} :</p>
					</div>
					<ul class="list-group list-group-flush">
						{{#each list}}
						<li class="list-group-item"><em class="fw-medium">{{this}}</em></li>
						{{/each}}
					</ul>
					{{/with}}
				</div>
			</div>
			{{/with}}

			{{#with productData.alert}}
			{{#if isError}}
			<div class="container py-3">
				<div class="alert alert-danger" role="alert">
					{{text}}
				</div>
			</div>
			{{/if}}
			{{/with}}
		</div>
	</div>

	<div class="row">
		<div class="container">

			{{#with productData}}
			<nav class="nav border">
				{{#each actionList}}

				{{#if isWarning}}
				<li class="nav-item">
					<a type="btn" class="btn btn-warning text-light px-5 ms-3 me-2">
						{{name}}
					</a>
				</li>
				{{/if}}

				{{#if isError}}
				<li class="nav-item ">
					<a type="btn" class="btn btn-outline-danger px-5 mx-3">
						{{name}}
					</a>
				</li>
				{{/if}}

				{{#if isSuccess}}
				<li class="nav-item">
					<a type="btn" class="btn btn-success px-5 mx-2">
						{{name}}
					</a>
				</li>
				{{/if}}

				{{#if isGood}}
				<li class="nav-item">
					<a type="btn" class="btn btn-outline-success ms-3 px-5">
						{{name}}
					</a>
				</li>
				{{/if}}

				{{/each}}
			</nav>
			{{/with}}
		</div>
	</div>

	<br>
	<hr>
	<br>

	{{#with goodsOtherBlock}}

	<div class="row text-center text-uppercase ">
		<h2>{{title}}</h2>
	</div>

	<div class="row">
		{{#each cards}}
		<div class="col-4">
			{{> shopcard}}
		</div>
		{{/each}}
	</div>
	{{/with}}
	<br>
	<br>
	<hr>
	<br>
	{{> shopaction}}
	<br>
	<hr>
</main>