<main>
    <div class="col-14">
        <div class="row p-3 g-3 p-3 border-bottom border-4">
            <div class="col-8 p-2">
                <div class="row p-3">
                    {{#with formBlock}}
                    <div class="col-12 p-3">
                        <div class="row p-2">
                            <p class="fs-3 fw-bold">{{header}}</p>
                            {{#with rating}}
                            <p class="fs-6 fw-normal ms-1">{{title}} : {{value}}</p>
                            {{/with}}
                        </div>
                        {{#with actionBlock}}
                        <div class="row mb-2 py-5 border-1">
                            <ol class="nav nav-tabs justify-content-between text-center ">
                                {{#each tabs}}
                                {{#if isActive}}
                                <div class="col-3 px-3 ">
                                    <li class="nav-item active">
                                        <a class="nav-link fs-4 fw-normal active" href="#">{{text}}</a>
                                    </li>
                                </div>
                                {{else}}
                                <div class="col-3 px-3">
                                    <li class="nav-item active">
                                        <a class="nav-link fs-4 fw-normal" href="#">{{text}}</a>
                                    </li>
                                </div>
                                {{/if}}
                                {{/each}}
                            </ol>

                        </div>
                        <div class="row border-top border-bottom border-5 py-5 my-5">
                            {{#with report}}
                            <div class="card card-body border-2 my-5 p-5"
                                style="background-color:rgba(0, 140, 255, 0.048)">
                                <p class="fw-medium">{{title}}</p>
                                <div class="col-4">
                                    {{#with button}}
                                    <a type="button" class="btn btn-secondary" href="{{link}}"
                                        target="_blank">{{text}}</a>
                                    {{/with}}
                                </div>
                            </div>
                            {{/with}}
                        </div>

                        {{/with}}
                        {{#with feedbackBlock}}
                        <h2 class="mb-5 display-6"><strong>{{title}}</strong></h2>
                        {{#each buttons}}
                        <a class="mt-5 btn {{#if isSuccess}}btn-success{{/if}} {{#if isWarning}}btn-warning{{/if}} {{#if isDanger}}btn-danger{{/if}}"
                            href="{{link}}">{{text}}</a>
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="col-4">


                {{#with goodsInfo}}
                <div class="col-12">
                    <div class="row">
                        <div class="card">
                            <img class="card-img-top" src="{{photo}}" alt="Зображення">
                            <p>{{name}}</p>
                        </div>
                        <br>
                        <div class="card">
                            <b>{{price}}</b>
                            {{#if inMarket}}
                            <p>Є в наявності</p>
                            {{/if}}
                            {{#each buttons}}
                            {{#if isPrimary}}
                            <a href="{{link}}" type="button" class="btn btn-primary">{{text}}</a>
                            {{/if}}

                            {{#if isSecondary}}
                            <a href="{{link}}" type="button" class="btn btn-secondary">{{text}}</a>
                            {{/if}}
                            {{/each}}
                            <br>
                        </div>
                        <div class="card">
                            <p>{{seller.title}}: <b>{{seller.value}}</b></p>
                        </div>
                    </div>
                </div>
                {{/with}}


            </div>
            {{/with}}

        </div>
        {{#each reviewList}}
        {{> reviewItem}}
        {{/each}}
        <br>
        {{> shopaction}}
</main>